[Unit]
After=network.target redis-server.service
StartLimitIntervalSec=20

[Service]
WorkingDirectory=/home/shingyu/app/starline-re
ExecStart=/home/shingyu/app/starline-re/.venv/bin/python /home/shingyu/app/starline-re/api.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
