[Unit]
After=network.target

[Service]
WorkingDirectory=/home/shingyu/app/starline-re
ExecStart=/home/shingyu/app/starline-re/.venv/bin/python /home/shingyu/app/starline-re/worker.py
Restart=always
RestartSec=3
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
